<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>ILIAS LIGHT</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
</head>

<body>

    <% include header.ejs %>

    <main id="dash">

        <div>
            <a href="seminarliste">

                <h2>Seminarliste</h2>

            </a>
        </div>

        <div>
            <a href="seminardetail">

                <h2>Börsenseminar</h2>

            </a>
        </div>

        <div>
            <a href="seminarleiter">

                <h2>Herr Müller</h2>

            </a>
        </div>

        <div>
            <a href="seminarneu">

                <h2>Seminarformular</h2>

            </a>
        </div>
    </main>

   <% include footer.ejs %>

    <script src="js/x.js"></script>

</body>

</html>