<nav>
    <div id="navi">
        <ul>
            <li>
                <a href="seminarliste">
                    Seminarliste
                </a>
            </li>
            <li>
                <a href="seminardetail">
                    Börsenseminar
                </a>
            </li>
            <li>
                <a href="seminarleiter">
                    Herr Müller
                </a>
            </li>
            <li>
                <a href="seminarneu">
                    Seminar erstellen
                </a>
            </li>
        </ul>
    </div>
</nav>