<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Börsenseminar</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/flexbox.css">
</head>

<body class="column">

    <% include header.ejs %>


    <nav>
        <div id="navi">
            <ul>
                <li>
                    <a href="seminarliste">
                        Seminarliste
                    </a>
                </li>
                <li>
                    <a href="seminardetail">
                        Börsenseminar
                    </a>
                </li>
                <li>
                    <a href="seminarleiter">
                        Herr Müller
                    </a>
                </li>
                <li>
                    <a href="seminarneu">
                        Seminar erstellen
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="mitte">
        <main>
            <section class="line">
                <h3>
                    Informationen:
                </h3>

                <ul>
                    <li>
                        Titel: Börsenseminar
                    </li>
                    <li>
                        <a href="seminarleiter">Leiter: Herr Müller</a>
                    </li>
                    <li>
                        Datum: 19.05.2019
                    </li>
                    <li>
                        Uhrzeit: 12:00
                    </li>
                    <li>
                        Anzahl Teilnehmer: 11
                    </li>
                    <li>
                        Anzahl max. Teilnehmer: 30
                    </li>
                </ul>

            </section>

            <section class="line">
                <h3>
                    Beschreibung:
                </h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, debitis culpa optio magni amet alias,
                blanditiis vitae commodi ipsa quam nostrum quidem autem, similique ipsum quo provident soluta?
                Similique,
                natus.
            </section>


        </main>

        <aside>
            <h3>
                Aktuelles:
            </h3>
            <ul>
                <li>
                    Raumverlegung!
                </li>
            </ul>
        </aside>
    </div>
    <footer>
        <p>
            © by Emir & Sahin
        </p>
    </footer>
</body>

</html>