.column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.mitte{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

main{
    flex: 3 0 80%;
}

aside{
    flex: 1 1 20%;
}

@media only screen and (max-width:768px){

    .mitte{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

}
